<main role="main" class="container mx-auto">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <div class="alert alert-danger text-center mx-w-full" role="alert"><%= get_flash(@conn, :error) %></div>
  <%= @inner_content %>
</main>
